.spinner{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 3px solid rgb(var(--primary-color));
        border-top-color: transparent;
        animation: rotate 1s linear infinite;
    }
}