.dashboard_container{
    display: flex;
    background: rgb(var(--background-light));
    min-height: 100vh;
    max-width: 100vw;
    .dashboard{
        padding-left: 16rem;
        width: calc(100vw - 16rem);
        
    }
}