.dashboard_container{
    display: flex;
    background: rgb(var(--background-light));
    min-height: 100vh;
    max-width: 100vw;
    .dashboard{
        margin-left: 16rem;
        width: calc(100vw - 16rem);
        display: flex;
        justify-content: center;
        .dashboard_page{
            padding: 2rem 1rem;
            max-width: 87rem;
            width: 100%;
            @media (max-width:1024px){
                margin-top: 40px;
                max-width: 100%;
            }
        }
        @media (max-width:1024px){
            margin-left: 0;
            width: 100vw;
        }
    }
}