.food_log_page{
    width: 100%;
    .page_holder{
        h3{
            color: rgb(var(--text-dark));
            text-align: center;
        }
        p{
            color: rgb(var(--text-primary));
            text-align: center;
            cursor: pointer;
        }
    }
    .food_stats_log{
        margin: 1rem 0;
        .stats{
            display: flex;
            justify-content: space-around;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    color: rgb(var(--color));
                    font-size: 1.5rem;
                }
                p{
                    color: rgb(var(--text-primary));
                    font-size: 0.825rem;
                }
            }
        }
    }
}