.food_card{
    position: relative;
    aspect-ratio: 1/1;
    // max-width: 20rem;
    cursor: pointer;
    .card{
        padding: 0;
    }
    img{
        width: 100%;
        border-radius: 1rem;
        
    }
    .time{
        position: absolute;
        right: 5px;
        bottom: calc(4.25rem + 5px);
        display: flex;
        align-items: center;
        gap: 3px;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        border-radius: 100px;
        padding:3px 5px;
        font-size: 0.725rem;
        color: rgb(var(--text-primary));
        .lucide{
            stroke: rgb(var(--text-primary));
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0.5rem 0.75rem;
        padding-top: 0.5rem;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        // background: linear-gradient(to top,rgb(234, 234, 234) 50%,rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        border-radius: 0% 0% 1rem 1rem;
        overflow: hidden;
        height: 4.25rem;
        width: 100%;
        bottom: 0;
        .name p{
            color: rgb(var(--text-dark));
            font-size: 1rem;
            font-weight: 500;
        }
        .nutrition{
            display: flex;
            justify-content: space-between;
            span{
                display: flex;
                flex-direction: column;
                p:nth-child(1){
                    color: rgb(var(--text-primary));
                    font-size: 0.75rem;
                }
                p:nth-child(2){
                    color: rgb(var(--text-dark));
                    font-weight: 500;
                    font-size: 0.825rem;
                }
            }
        }
    }
}