.empty{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    span{
        width: 50px;
        height: 50px;
        background: rgb(var(--primary-color));
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        .lucide{
            stroke: white;
        }
    }
    h3{
        margin-top: 10px;
        font-weight: 500;
        color: rgb(var(--text-primary));
    }
    .empty_spinner{
        transform: scale(0.7);
        span{
            background: white;   
        }
            
    }
}