.side_bar{
    width: 16rem;
    position: fixed;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(var(--border-light));
    align-items: center;
    .mobile_nav {
        display: none;
    }
    .mobile_header{
        display: none;
    }
    .nav{
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        .logo_container{
            zoom: 0.8;
            padding: 10px;
        }
        @media (max-width:1024px){
            display: none;
        }
        .tabs{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .tab{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 0.925rem;
                text-decoration: none;
                font-weight: 500;
                padding: .625rem .75rem;
                cursor: pointer;
                border-radius: 0.8rem;
                transition: 0.2s ease;
                .name{
                    color: rgb(var(--text-primary));
                }
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .lucide{
                        stroke: rgb(var(--text-primary));
                        transform: scale(0.9);
                    }
                }
                &:hover{
                    background-color: rgba(var(--border-light),0.5);
                    .name{
                        color: rgb(var(--text-dark));
                    }
                    .icon .lucide{
                        stroke: rgb(var(--text-dark));
                    }
                }
                &.active{
                    background-color: rgb(var(--primary-color));
                    .name{
                        color: white;
                    }
                    .icon .lucide{
                        stroke: white;
                    }
                }
            }
        }
        
    }
    .account{
        padding: 1.5rem 1rem;
        width: 100%;
        @media (max-width:1024px){
            display: none;
        }
        .account_card{
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-gap: 10px;
            grid-column-start: 2;
            padding: .625rem .75rem;
            display: flex;
            width: min-content;
            .avatar{
                grid-column-start: 1;
            }
            .info{
                display: flex;
                flex-direction: column;
                grid-column-start: 2;
                justify-content: center;
                overflow: hidden;
                h3{
                    font-size: 1rem;
                    color: rgb(var(--text-dark));
                    font-weight: 400;
                    max-width: calc(16rem - 2.5rem - 50px);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                p{
                    font-size: 0.825rem;
                    max-width: calc(16rem - 2.5rem - 50px);
                    color: rgb(var(--text-primary));
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
        .tab{
            height: 3rem;
            &.disabled{
                pointer-events: none;
                background: rgba(255, 0, 0, 0.042);
                .spinner{
                    transform: scale(0.6);
                    span{
                        border-color: red;
                        border-top-color: transparent;
                    }
                }
            }
            display: flex;
                align-items: center;
                gap: 10px;
                font-size: 0.925rem;
                text-decoration: none;
                font-weight: 500;
                padding: .625rem .75rem;
                cursor: pointer;
                border-radius: 0.8rem;
                transition: 0.2s ease;
                .name{
                    color: rgb(var(--text-primary));
                }
                .icon{
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    justify-content: center;
                    .lucide{
                        stroke: rgb(var(--text-primary));
                        transform: scale(0.9);
                    }
                }
                &:hover{
                    background-color: rgba(255, 0, 0, 0.042);
                    .name{
                        color: red;
                    }
                    .icon .lucide{
                        stroke: red;
                    }
                }
        }
    }
    @media (max-width:1024px) {
        width: 0;
        height: 0;
        position: fixed;
        z-index: 1000;
        border: none;
        .mobile_nav{
            display: flex;
            position: fixed;
            bottom: 0;
            left: 0;
            height: 80px;
            background: rgba(var(--background-light),0.8);
            backdrop-filter: blur(10px);
            width: 100vw;
            border-bottom: 1px solid rgb(var(--background-dark));
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-top: 1px solid rgb(var(--background-dark));
            .tab{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 60px;
                gap: 5px;
                .name{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: rgb(var(--text-primary));
                }
                .icon{
                    display: flex;
                    justify-content: center;
                    padding: 3px;
                    width: 50px;
                    border-radius: 100px;
                    transition: .2s ease;
                    .lucide{
                        stroke: rgb(var(--text-primary));
                        transform: scale(0.9);
                    }
                }
                &:hover{
                    .name{
                        color: rgb(var(--text-dark));
                    }
                    .lucide{
                        stroke: rgb(var(--text-dark));
                    }
                }
                &.active{
                    .icon{
                        background-color: rgb(var(--primary-color));
                        width: 60px;
                        .lucide{
                            stroke: white;
                        }
                    }
                    .name{
                        color: rgb(var(--primary-color));
                        
                    }
                    .lucide{
                        stroke: rgb(var(--primary-color));
                    }
                }
            }
        }
        .mobile_header{
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            height: 60px;
            background: rgba(var(--background-light),0.8);
            backdrop-filter: blur(10px);
            width: 100vw;
            border-bottom: 1px solid rgb(var(--background-dark));
            z-index: 1000;
            padding-left: 1rem;
            .logo{
                zoom: 0.8;
                z-index: 1000;
            }
        }
    }
}