.side_bar{
    width: 16rem;
    position: fixed;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(var(--border-light));
    align-items: center;
    .nav{
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        .logo_container{
            zoom: 0.8;
            padding: 10px;
        }
        .tabs{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .tab{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 0.925rem;
                text-decoration: none;
                font-weight: 500;
                padding: .625rem .75rem;
                cursor: pointer;
                border-radius: 0.8rem;
                transition: 0.2s ease;
                .name{
                    color: rgb(var(--text-primary));
                }
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .lucide{
                        stroke: rgb(var(--text-primary));
                        transform: scale(0.9);
                    }
                }
                &:hover{
                    background-color: rgba(var(--border-light),0.5);
                    .name{
                        color: rgb(var(--text-dark));
                    }
                    .icon .lucide{
                        stroke: rgb(var(--text-dark));
                    }
                }
                &.active{
                    background-color: rgb(var(--primary-color));
                    .name{
                        color: white;
                    }
                    .icon .lucide{
                        stroke: white;
                    }
                }
            }
        }
        
    }
    .account{
        padding: 1.5rem 1rem;
        width: 100%;
        .account_card{
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-gap: 10px;
            grid-column-start: 2;
            padding: .625rem .75rem;
            display: flex;
            width: min-content;
            .avatar{
                grid-column-start: 1;
            }
            .info{
                display: flex;
                width: calc(100% - 6rem);
                flex-direction: column;
                grid-column-start: 2;
                justify-content: center;
                overflow: hidden;
                h3{
                    font-size: 1rem;
                    color: rgb(var(--text-dark));
                    font-weight: 400;
                }
                p{
                    font-size: 0.825rem;
                    color: rgb(var(--text-primary));
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
        .tab{
            display: flex;
                align-items: center;
                gap: 10px;
                font-size: 0.925rem;
                text-decoration: none;
                font-weight: 500;
                padding: .625rem .75rem;
                cursor: pointer;
                border-radius: 0.8rem;
                transition: 0.2s ease;
                .name{
                    color: rgb(var(--text-primary));
                }
                .icon{
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    justify-content: center;
                    .lucide{
                        stroke: rgb(var(--text-primary));
                        transform: scale(0.9);
                    }
                }
                &:hover{
                    background-color: rgba(255, 0, 0, 0.042);
                    .name{
                        color: red;
                    }
                    .icon .lucide{
                        stroke: red;
                    }
                }
        }
    }
}