.add_food_item{
    width: 100%;
    .header{
        padding: 1rem;
        padding-bottom:0 ;
        border-bottom: 1px solid rgb(var(--border-light));
        h2{
            color: rgb(var(--text-dark));
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 15px;
        }
    }
    .form{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .line{
            grid-column: 1 / span 2;
            width: 100%;
            background-color: rgb(var(--border-color));
            .items{
                display: flex;
                flex-wrap: wrap;
                // padding: 0.825rem 0.75rem;
                padding: 0 0.75rem;
                margin-bottom: 0.825rem;
                gap: 5px;
                .element{
                    color: rgb(var(--text-primary));
                    font-size: 0.85rem;
                    padding: 5px 10px;
                    border-radius: 1rem;
                    background-color: rgb(255,255,255);
                    border: 1px solid rgba(var(--border-light),0.5);
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .lucide{
                        cursor: pointer;
                        stroke: rgb(var(--text-primary));
                    }
                }
            }
        }
        .group{
            display: grid;
            gap: 10px;
            .input_field:nth-child(2){
                grid-column-start: 2;
            }
        }
        .warnings{
            .text{
                h3{
                    color: rgb(var(--text-dark));
                    font-size: 1rem;
                    font-weight: 500;
                    margin: 10px 0px;
                    margin-bottom: 0.5rem;
                }
            }
            .items{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .element{
                    justify-content: space-between;
                    display: flex;
                    padding: 0.5rem;
                    background: rgba(var(--color),0.1);
                    border-radius: 0.75rem;
                    border: 1px solid rgba(var(--color),0.5);
                    align-items: center;
                    .lucide{
                        stroke: rgb(var(--color));
                    }
                    & > span{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                    p{
                        color: rgb(var(--color));
                    }
                    .icon{
                        aspect-ratio: 1/1;
                        height: 40px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}