.linear_progress_bar{
    width: 100%;
    height: 0.5rem;
    border-radius: 100px;
    .track{
        width: 100%;
        height: 100%;
        position: relative;
        transition: .3s ease;
        border-radius: inherit;
        .progress{
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            transition: .3s ease;
            top: 0;
            border-radius: inherit;
        }
    }
}