.food_modal{
    min-height: 20rem;
    width: 100%;
    padding: 1rem;
    .header{
        .time{
            color: rgb(var(--text-primary));
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 0.825rem;
            .lucide{
                stroke: rgb(var(--text-primary));
            }
        }
        h2{
            color: rgb(var(--text-dark));
            font-size: 1.5rem;
            font-weight: 500;
            margin: 10px 0px;
        }
        img{
            width: 100%;
            height: 10rem;
            object-fit: cover;
            border-radius: 0.5rem;
        }
    }
    .nutrients{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.5rem;
        flex-wrap: wrap;
        margin-top: 0.25rem;
        .stat{
            display: flex;
            padding:10px;
            gap: 10px;
            align-items: center;
            background-color: rgba(var(--color),0.08);
            border: 1px solid rgba(var(--color),0.5);
            border-radius: 0.8rem;
            .icon{
                background-color: rgba(var(--color),0.1);
                height: 35px;
                width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                .lucide{
                    stroke: rgb(var(--color));
                }
            }
            .info{
                display: flex;
                flex-direction: column;
                h3{
                    color: rgb(var(--color));
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                span{
                    color: rgb(var(--text-primary));
                    font-size: 0.825rem;
                }
            }
        }
    }
    .ingredients{
        h3{
            color: rgb(var(--text-dark));
            font-size: 1rem;
            font-weight: 500;
            margin: 10px 0px;
            margin-bottom: 0.25rem;
        }
        p{
            color: rgb(var(--text-primary));
            font-size: 0.925rem;
        }
    }
    .warnings{
        h3{
            color: rgb(var(--text-dark));
            font-size: 1rem;
            font-weight: 500;
            margin: 10px 0px;
            margin-bottom: 0.25rem;
        }
        .items{
            display: flex;
            flex-direction: column;
            gap: 5px;
            p{
                display: flex;
                align-items: center;
                gap: 5px;
                color: rgb(var(--accent-color));
                font-size: 0.825rem;
                .lucide{
                    stroke: rgb(var(--accent-color));
                }
                &.INFO{
                    color: rgb(var(--text-primary));
                    .lucide{
                        stroke: rgb(var(--text-primary));
                    }
                }
            }
        }
    }
    .delete_button{
        width: 100%;
        margin-top: 15px;        
        &:hover{
            background-color: rgba(var(--accent-color),0.1);
        }
    }
}