.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(var(--primary-color),0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        font-size: 1.2rem;
        color: rgb(var(--primary-color));
        font-weight: 500;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}