.btn_primary{
    height: 3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.75rem;
    color: white;
    cursor: pointer;
    font-weight: 500;
    background:linear-gradient(to top,rgb(var(--primary-color)) 0%,rgb(var(--primary-light-color)) 100%);
    // transition: all 0.1s ease;
    box-shadow: 0px 5px 10px rgba(var(--primary-color),0.3);
    &:active{
        box-shadow: 0px 2px 5px rgba(var(--primary-color),0.3);
    }
    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
        box-shadow: none;
    }
    .loader{
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        border: 2px solid white;
        border-top-color: transparent;
        animation: spin 0.6s linear infinite;
    }
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}