.search_box{
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 0.8rem;
    span{
        width: 50px;
        aspect-ratio: 1 / 1 ;
        background: white;
        display: flex;
        align-items: center;
        border: 1px solid rgb(var(--border-light));
        justify-content: center;
        &:first-child{
            border-radius: 0.8rem 0 0 0.8rem;
            border-right: 0px;
        }
        &:last-child{
            border-radius: 0 0.8rem 0.8rem 0;
            border-left: 0px;
            cursor: pointer;
        }
        .lucide{
            stroke: rgb(var(--text-primary));
        }
    }
    &::before{
        content: "";
        height: calc(100% + 6px);
        width: calc(100% + 6px);
        position: absolute;
        border: 2px solid rgb(var(--primary-color));
        z-index:-1;
        top: -5px;
        border-radius: 0.9rem;
        left: -5px;
        display: none;
    }
    &:focus-within{
        &::before{
            display: block;
        }
    }
    input{
        width: 100%;
        outline: none;
        border: 1px solid rgb(var(--border-light));
        border-left: 0px;
        border-right: 0px;
        color: rgb(var(--text-dark));
        font-size: 1rem;
    }
}