.calendar-container {
  padding: 0.5rem;
  height: fit-content;
  position: relative;
  .pagination{
    margin-top: 0px;
  }
  .header_text{
    color: rgb(var(--text-dark));
    font-size: 1.2rem;
    font-weight: 500;
    // width: 100%;
    margin: 10px 0px;
  }
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;

    .day-label {
      text-align: center;
      font-weight: 600;
      font-size: 0.8rem;
      color: rgb(var(--text-primary));
      padding-bottom: 0.5rem;
    }
    
    .calendar-day {
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: var(--color);
      justify-content: center;
      p{
        color: rgb(var(--text-dark));
      }
      span{
        display: flex;
        align-items: center;
        gap: 1px;
        .lucide{
          stroke: rgb(var(--accent-color));
        }
        color: rgb(var(--text-primary));
        font-size: 0.725rem;
      }
      border-radius: 8px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background 0.2s;
      border: 1px solid transparent;

      &:hover:not(.empty) {
        background-color: rgb(var(--background-dark),0.5);
      }

      &.empty {
        cursor: default;
      }

      &.today {
        border:2px solid rgb(var(--primary-color));
        p{
          color: rgb(var(--primary-color))  ;
        }
      }
    }
  }
}