.calendar-container {
  padding: 0.5rem;
  height: fit-content;
  position: relative;
  .pagination{
    margin-top: 0px;
  }
  .header_text{
    color: rgb(var(--text-dark));
    font-size: 1.2rem;
    font-weight: 500;
    // width: 100%;
    margin: 10px 0px;
  }
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;

    .day-label {
      text-align: center;
      font-weight: 600;
      font-size: 0.8rem;
      color: rgb(var(--text-primary));
      padding-bottom: 0.5rem;
    }
    
    .calendar-day {
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: var(--color);
      justify-content: center;
      p{
        color: var(--text-color);
      }
      span{
        display: flex;
        align-items: center;
        gap: 1px;
        .lucide{
          stroke: rgb(var(--accent-color));
        }
        color: var(--text-color);
        font-size: 0.625rem;
      }
      border-radius: 8px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background 0.2s;
      border: 1px solid transparent;
    }
  }
}